* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


button:hover {
    cursor: pointer;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    padding: 20px;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15px 30px;
    background-color: rgba(22, 21, 21, 0.6);
    width: 100%;
    z-index: 10;
}

.navbar > h1 {
    font-size: 40px;
}

.navbar > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 25px;
}

.navbar > ul > li > button {
    padding: 20px;
    background: none;
    border: none;
    font-size: 30px;
}

.navbar > ul > li:first-child {
    margin-right: 20px;
}

.navbar > ul > li:not(:first-child) {
    margin: 0 20px;
}


.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(184, 10, 10, 0.6);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    top: 150px;
    height: fit-content;
}

.home-main-container > h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.home-main-container > p {
    font-size: 45px;
    font-style: italic;
}

.about-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: fit-content;
}

.about-main-container > h1 {
    font-size: 65px;
    margin-bottom: 100px;
}

.about-main-container .info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(22, 21, 21, 0.6);
    padding: 30px 0;
    border-radius: 15px;
}

.about-main-container .info-section .group1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}


.about-main-container .info-section .group1 .info {
    width: 50%;
    font-size: 30px;
}

.about-main-container .info-section .group1 .picture-div {
    width: 30%;
}

.about-main-container .info-section .group1 img {
    height: auto;
    max-width: 100%;
}

.about-main-container .info-section .group2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.about-main-container .info-section .group2 .info {
    width: 50%;
    font-size: 30px;
}

.about-main-container .info-section .group2 .picture-div {
    width: 30%;
}

.about-main-container .info-section .group2 img {
    height: auto;
    max-width: 100%;
}

.drinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(22, 21, 21, 0.6);
    margin-bottom: 50px;
}

.drinks-container .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.drinks-container .item-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.drinks-container .item-div .img-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 250px;
}

.drinks-container .item-div .img-container img{
    height: 100%;
    width: 80%;
}


.drinks-container .item-div .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 30px;
}

.mains-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(22, 21, 21, 0.6);
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 15px;
}

.mains-container .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mains-container .item-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.mains-container .item-div .img-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 250px;
}

.mains-container .item-div .img-container img{
    height: 100%;
    width: 80%;
}


.mains-container .item-div .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 30px;
}

.desserts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(22, 21, 21, 0.6);
}

.desserts-container .items-container {
    display: flex;
}

.desserts-container .item-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.desserts-container .item-div .img-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 250px;
}

.desserts-container .item-div .img-container img{
    height: 100%;
    width: 80%;
}


.desserts-container .item-div .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 30px;
}