* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 107, 248);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}