* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#content {
    height: 100%;
    display: flex;
    justify-content: center;
    /*
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;*/
    position: relative;
    top: 100px;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15px 30px;
    background-color: rgba(22, 21, 21, 0.6);
    width: 100%;
}

.navbar > h1 {
    font-size: 40px;
}

.navbar > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 25px;
}

.navbar > ul > li:first-child {
    margin-right: 20px;
}

.navbar > ul > li:not(:first-child) {
    margin: 0 20px;
}


.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(184, 10, 10, 0.6);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    top: 150px;
    height: fit-content;
}

.home-main-container > h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.home-main-container > p {
    font-size: 45px;
    font-style: italic;
}